extends layout
title=hackUState
block content
  .bg-overlay
    //body#body(onresize='resizeCanvas()')
  section#main.montserrat
    a#mlh-trust-badge(style='position:fixed;top:0;right:50px;max-width:100px;width:10%;min-width: 60px;display:block;z-index:10000', href='https://mlh.io/?utm_campaign=Trust%20Badge', target='_blank')
        img(src='https://s3.amazonaws.com/logged-assets/trust-badge/f2015.png', alt='MLH Official - Fall 2015', style='width:100%;')
    .ui.page.grid
      .row
        .center.aligned.column
          .content
            img.logo(src='/images/logos/HackUStateLogo-3 Final2-01.png', onerror='this.onerror=null; this.src=/core/static/assets/images/hack-logo-white.png')
            br
            br
            br
            br
            .tagline
              | UTAHS FIRST INTERCOLLEGIATE HACKATHON 
            .description
              | 300 STUDENTS | 36 HOURS | 100 PRIZES 
            .date
              br
              | NOVEMBER 6 - 7 @ &nbsp;
            .location
              | USU CONFERENCE CENTER
            | 
            br
            br
            |             
            button.montserrat.outline.button(onclick=onclick="location.href='https://hackustate.typeform.com/to/o2JljV?typeform-welcome=0'") Pre-Register

  section#faq
    .title
      | FAQ
    |     
    .ui.three.column.stackable.page.grid
      .row
        .column
          .question
            | What is a hackathon?
          |           
          .answer
            | A 
            a(href='https://medium.com/@alexkern/what-is-a-hackathon-c2162b893b0a') hackathon 
            | is an event for students at all skill levels; which encourages learning new technology, collaborating with other 
            | students, and creating something mind-blowing.  
        |         
        .column
          .question
            | How can I register?
          |           
          .answer
            | Pre-Register now because our seats are going fast! 
            | If you're a USU Student, you're guaranteed a seat but still need to pre-register. 
        |         
        .column
          .question
            | Who is invited?
          |           
          .answer
            | All undergraduate students from any university are welcome.
            | Non-USU students must be 18 or older. Unfortunately, high school
            | students cannot attend.
      |       
      .row
        .column
          .question
            | How much is it?
          |           
          .answer
            | The event is free to all students and includes food, drinks, and a bunch of swag for the entire hackathon!
        | 
        .column
          .question
            | What's the schedule?
          |           
          .answer
            | hackUstate will begin at 9AM on Friday November 6th and end the next day around 6 PM. 
            | Check back soon for more details on the schedule!
        |          
        .column
          .question
            | Will there be buses?
          |           
          .answer
            | We would like to provide buses from BYU, UVU, and UofU. In order for us to do so, we need at least 50 attendees from each school.
            | Please contact us to find out how many hackers you need to invite and to help organize a bus for your school! 
        |         
      |       
      .row
        .column
          .question
            | What should I bring?
          |           
          .answer
            | All attendees are required to bring their valid student ID
            | for admission (name must match registration) and a laptop
            | for hacking. 
        |         
        .column
          .question
            | What should I not bring?
          |           
          .answer
            | USU is a dry campus but don't worry, we'll have lots of energy drinks!
            | Also please no firearms, knives, or weapons of any kind.
        .column
          .question
            | What food will you provide?
          |           
          .answer
            | All meals from breakfast on Friday to Lunch on Saturday, as well as snacks in between, are covered by us.  
            | We'll try to accommodate dietary restrictions as best we can!
        |      
      |       
      .row
        .column
        | 
        .column
          .question
            | Other Questions?
          |           
          .answer
            | You can get in touch with us at 
            a(href='mailto:team@hackustate.org') team@hackustate.org
            |  or via 
            a(href='http://twitter.com/hackustate') Twitter
            | , or 
            a(href='https://www.facebook.com/Hackustate') Facebook
            | .
        .column
        | 
      | 
  section#sponsor
    .title
      | SPONSORS
      .silver.tier
        a(href='http://www.usu.edu/')
          img(src='images/logos/usu-logo.png')
        a(href='http://hackusu.org')
          img(src='images/logos/hackusu-logo.png')
        a(href='http://www.digitalocean.com')
          img(src='images/logos/digitalocean-logo.png')
        a(href='https://www.stickermule.com/unlock?ref_id=4213360701')
          img(src='images/logos/stickermule-logo.png')
    .interested
      | Interested in sponsoring hackUstate?
      br
    a.social(href='mailto:sponsor@hackustate.org')
      i
      | sponsor@hackustate.org

  section#footer.lato
    .content
      br
      | Built with 
      a(href="https://www.youtube.com/watch?v=mxp2l3Fh15o", style='text-decoration: none')
        i.ui.red.heart.icon
      |  by the hackUstate team 2015.
    br
    a.social(href='mailto:team@hackustate.org')
      i.ui.icon.mail
    |     
    a.social(href='https://twitter.com/hackustate')
      i.ui.icon.twitter
    |     
    a.social(href='https://www.facebook.com/HackUstate')
      i.ui.icon.facebook
