/* TODO
Fix stupid hover / skroll effect on white sections.



*/

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-size: 16px;
}

::selection {
  color:rgba(255,255,255,1);
  background:rgba(57,61,66,.7);
}

::-moz-selection {
  color:rgba(255,255,255,1);
  background:rgba(57,61,66,.7);
}

.bg-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(234, 230, 214);
  opacity: 1;
}

section {
  position: relative;
  height: 100%;
  padding: 20px 0;
}

.wrap{
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(104, 104, 104, .6);
}

section.content {
  height: 100%;
}

/* Custom Link Junk */
a {

  color: rgb(112, 196, 188);
}

a:hover {
  color: rgb(104, 104, 104);
}

/* Main Panel */

#c:hover {
  cursor: pointer;
}

section#main {
  padding: 0;
  min-height: 75vh;
  background: rgb(234, 228, 197);
}

section#main .ui.page.grid {
  position:absolute;
  width:100%;
  height: auto;
  top:15%;
}

.logo {
  height: 50%;
  width: 50%;
}

.title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 4em;
  letter-spacing: 8px;
}

.tagline {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 1.7px;
  width: 100%;
}

.date,
.location {
  font-size: 1.05em;
  letter-spacing: 1.7px;
  margin-top:2px;
  text-transform: uppercase;
  display: inline-block;

}

.description {
  margin-top: 35px;
  font-size: 1.55em;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

.description.span {
  color: rgb(112, 196, 188);
}

button.outline{
  font-size: 20px;
  width: 320px;
  border-radius:3px;
  padding: 8px;
  margin-top: 18px;
  color: rgb(170, 70, 109);
  background: transparent;
  border: solid rgb(170, 70, 109) 2px;
  opacity:.75;
  -webkit-transition: color 500ms, background 500ms;
  -moz-transition: color 500ms, background 500ms;
  -o-transition: color 500ms, background 500ms;
  -ms-transition: color 500ms, background 500ms;
  transition: color 500ms, background 500ms;
}

button.outline:hover {
  background: rgb(170, 70, 109);
  cursor: pointer;
}

button.outline.green:hover{
  color: rgb(170, 70, 109);
}

button.outline.red:hover{
  color: rgb(170, 70, 109)
}
button.outline:focus {
  outline: 0;
}

/* MainCanvas */

#MainCanvas {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* faq */
section#faq {
  background: rgb(112, 196, 188);
  text-align: center;
  height: auto;
}

.question {
  font-size: 2em;
  font-weight: 700;
  vertical-align: middle;
}

.answer {
  font-size: 1.5em;
  vertical-align: middle;
}

/* VENUE */
section#venue {
  background: rgb(170, 70, 109);
  text-align: center;
  height: 75%;
}
/* PROJECTS */

section#projects {
  background: rgba(255,255,255,.85);
  min-height: 240px;
  text-align: center;
  color: black;
  padding: 80px 0px;
}

  #projects .projects-title{
    font-family: 'Montserrat', 'Helvetica Neue','Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    letter-spacing: 1.7px;
    font-size: 3.2em;
    color: rgb(112, 196, 188);
    margin-bottom: 80px;
    margin-top: 10px;
  }

  #projects .project-description{
    width: 70%;
    margin: 30px auto;
    font-size: 1.3em;
    line-height: 1.5em;
  }

  #projects p {
    font-size: 24px;
    padding-top: 10px;
    color: rgb(112, 196, 188);
  }

  #projects i {
    color: rgb(112, 196, 188);
  }

  #projects .projects-tech{
    font-family: 'Montserrat', 'Helvetica Neue','Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    letter-spacing: 1.7px;
    font-size: 3.2em;
    color: rgb(112, 196, 188);
    margin-bottom: 80px;
    margin-top: 80px;
  }

  #projects .tech-images {
    position: relative;
    border-radius: 4px;
    height: 43px;
    width: 43px;
  }


/* WHO WE ARE PANEL */
section#who-we-are {
  padding: 80px 0;
}

  #who-we-are .who-we-are-title {
    text-align: center;
    font-family: 'Montserrat', 'Helvetica Neue','Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 3.2em;
    margin-bottom: 80px;
    margin-top: 10px;
  }

  #who-we-are .question {
    font-family: 'Montserrat', 'Helvetica Neue','Helvetica', 'Arial', sans-serif;
    font-size: 1.4em;
  }

  #who-we-are .answer {
    line-height:1.4em;
  }

  #who-we-are a,
  #who-we-are a:visited {
    color: white !important;
  }
  #who-we-are .chart-title {
    text-align: center;
    font-family: 'Montserrat', 'Helvetica Neue','Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 2em;
    padding-bottom: 10px;
  }
/* Schedule PANEL */
.schedule.title {
  min-height: 120px;
  height: 50%;
  text-align: center;
  color: rgb(170, 70, 109);
  /*color: rgb(56,153,179);*/
  padding-left:12%;
  padding-right:12%;
}

/* SPONSOR PANEL */
section#sponsor {
  background: rgb(104, 104, 104);
  min-height: 120px;
  height: auto;
  text-align: center;
  /*color: rgb(56,153,179);*/
  padding-left:12%;
  padding-right:12%;
}

  #sponsor .sponsor-title {
    font-family: 'Montserrat', 'Helvetica Neue','Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 3.2em;
    margin-bottom: 40px;
  }

  #sponsor .sponsor-message {
    font-size: .4em;
    color: black;
    margin-top: 1.5em;
  }

  #sponsor .sponsor-message a{
    text-decoration: none;
    color: rgb(112, 196, 188);
  }

  #sponsor .tier .title {
    font-size: 2.2em;
    margin-bottom: .7em;
    text-align: center;
    border-bottom: 1px solid rgb(112, 196, 188);
    display: none;
  }

  #sponsor a{
    text-decoration: none;
  }

  #sponsor img{
    width: 100px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 16px;
  }

  #sponsor .silver {
    padding: 0 5%;
  }

  #sponsor .silver img {
    width: 200px;
  }

  #sponsor .ui.grid {
    margin-bottom: 2em;
  }

/* REGISTER PANEL */
section#register {
  padding: 160px 0;
  min-height: 60vh;
  background: transparent;
}

section#register .tagline {
margin-bottom: 30px;
}


/* Footer */

section#footer {
  width: auto;
  padding: 24px 0;
  background: #434444;
  min-height: 2em;
  height: auto;
  text-align: center;
  bottom: 0%;
}

section#footer a.social {
  text-decoration: none;
  color: white;
  margin: 0 8px;
}
a.social:hover {
  color: rgb(234, 228, 197);
}

section#footer .icon:hover {
  text-shadow: 0 0 3px white;
  cursor: pointer;
}

/* Tablets */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
   section {
    position: relative !important;
    height: 100% !important;
    min-height: 100% !important;
  }

  .ui.page.grid{
    position: relative !important;
    padding: 50px 0 !important;
  }

  section#sponsor {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  section#sponsor .tier .title {
    display: inline-block;
  }

  #sponsor img {
    display: block !important;
    position: relative !important;
    margin: 4em auto !important;
    width: 75% !important;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  section {
    position: relative !important;
    height: 100% !important;
    /*min-height: 100% !important;*/
  }
  section#footer {
    margin-top: -80px;
  }

  .title {
    font-size: 2.8em;
  }

  .tagline {
    font-size: .9em;
  }

  .button {
    min-width: 15em !important;
    width: 15em !important;
  }

  #info .info-title {
    font-size: 3em;
  }

  #info .info-description {
    width: 100%;
  }


  section#sponsor {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  section#sponsor .tier .title {
    display: inline-block;
  }

  #sponsor img {
    display: block !important;
    position: relative !important;
    margin: 4em auto !important;
    width: 75% !important;
  }

}
